div.frame-1{
    border:solid 1px #333;/*線の種類・太さ・色*/
    width: 60%;
    height: 60%;
            /* 上 | 右 | 下 | 左 */
    margin: 10% 25% 10% 20%; 
    
}
p.frame-1-name{
    text-align: center;
    position: relative;
    top: 4%;
    font-size: 130%;
}


div.frame-2{
    border-bottom:solid 1px#333;
    width: 100%;
    height: 5%;
    margin: 0.5% 10% 10% 0%; 
}
p.frame-2-name{
    text-align: center;
    position: relative;
    top: 250%;
    font-size: 250%;
}

div.frame-3{
    border-bottom:solid 1px#333;
    width: 100%;
    height: 5%;
    margin: 10% 10% 10% 0%; 
}

div.login-buttons{
    position: relative;
    left: 35%;
    display:flex;
    flex-flow: column;
    width: 30%;
    top: 270%;
}





button.staff-page{
    position: relative;
    background-color: #4CAF50; /* 背景色 */
    color: white; /* 文字色 */
    padding: 15px 32px; /* パディング */
    text-align: center; /* 文字のアライメント */
    text-decoration: none; /* 文字装飾 */
    display: inline-block; /* ボタンの表示方法 */
    font-size: 16px; /* フォントサイズ */
    font-family: Arial, sans-serif; /* フォント */
    margin: 4px 2px; /* 外側の余白 */
    cursor: pointer; /* カーソル */
    border: none; /* ボーダーなし */
    border-radius: 5px; /* ボタンの角丸 */
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3); /* 影 */
    transition: transform 0.1s ease-in-out; /* トランジション */
    
}

button.admin-page{

    position: relative;
    background-color: #4CAF50; /* 背景色 */
    color: white; /* 文字色 */
    padding: 15px 32px; /* パディング */
    text-align: center; /* 文字のアライメント */
    text-decoration: none; /* 文字装飾 */
    display: inline-block; /* ボタンの表示方法 */
    font-size: 16px; /* フォントサイズ */
    font-family: Arial, sans-serif; /* フォント */
    margin: 4px 2px; /* 外側の余白 */
    cursor: pointer; /* カーソル */
    border: none; /* ボーダーなし */
    border-radius: 5px; /* ボタンの角丸 */
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3); /* 影 */
    transition: transform 0.1s ease-in-out; /* トランジション */
    margin-top: 30%;
}

a.staff-page-link{
    text-decoration: none;
    color: black;
}
a.admin-page-page-link{
    text-decoration: none;
    color: black;
}




footer.footer-salary{
    border-bottom:solid 1px#333;
    width: 100%;
    height: 5%;
    margin: 25% 10% 10% 0%;  
}
p.footer-name{
    text-align: center;
    position: relative;
    top: 115%;
    font-size: 150%;

}